<section>
    <h2>Top 10</h2>
    <ul>
        <% data.artObjects.slice(0, 10).forEach(top10ArtObject => { %>
            <li data-object-number="<%- top10ArtObject.objectNumber %>">
                <a href=" <%- object %><%- top10ArtObject.objectNumber %>">
                    <div>
                        <h3><%- top10ArtObject.title %></h3>
                    </div>
               <img src="<%- top10ArtObject.webImage.url %>" alt="<%- top10ArtObject.longTitle %>" width="3em" height="5em"/>
            </a>
            </li>
           <% }) %>
    </ul>
</section>